﻿body {
    background-color: rgb(23, 100, 200);
    color: rgba(255, 255, 255, 0.90);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

h1 {
    color: rgba(255, 85, 2, 0.9);
}

.brasao {
    height: 300px;
    background-image: url(http://www.99sportslogos.com/wp-content/uploads/2013/01/Charrua-Rugby-Clube-Logo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 20px;
}