﻿body {
    background-color: rgb(0,0,0);
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

h1 {
    color: #f1c232;
}

.brasao {
    height: 200px;
    background-image: url(http://www.desdeingoal.com.br/wordpress/wp-content/uploads/2013/02/guasca-final.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 20px;
}