<!DOCTYPE html>
<html lang="en">
  <head>
    {{>/WEB-INF/includes/head.html}}
    {{>/WEB-INF/includes/home/head.html}}
  </head>
  <body>
    {{>/WEB-INF/includes/header.html}}
    {{>/WEB-INF/includes/usuario.html}}
    {{>/WEB-INF/includes/menu.html}}
  </body>
</html>