<!doctype>
<html>
  <head>
    {{>/WEB-INF/includes/head.html}}
    {{>/WEB-INF/includes/ingredientes/head.html}}
  </head>
  <body>
    {{>/WEB-INF/includes/header.html}}
    {{>/WEB-INF/includes/usuario.html}}
    {{>/WEB-INF/includes/menu.html}}
    <br>
    {{>/WEB-INF/includes/ingredientes/ingredientes.html}}
  </body>
</html>