<!DOCTYPE html>
<html lang="en">
  {{>/WEB-INF/includes/head.html}}
  {{>/WEB-INF/includes/login/head.html}}
  <body>
    {{>/WEB-INF/includes/header.html}}
  	{{>/WEB-INF/includes/login/login.html}}
  </body>
</html>