<html>
  <head>
    <title>tabelas em javascript</title>
    <meta charset="utf-8">
    <script src="mustache.js"></script>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
	  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <style></style>
  </head>
  <body>
    <script id="template-receitas" type="text/template">
      <table class="pure-table">
        <thead>
          <th>Nome</th>
          <th>Custo</th>
        </thead>
        <tbody>
          {{#receitas}}
            <tr>
              <td>{{nome}}</td>
              <td>{{custo}}</td>
            </tr>
          {{/receitas}}
        </tbody>
      </table>
    </script>
  	<script>
      var template = $("#template-receitas").html();

      var dados = {
        receitas : [
          {nome : 'Nome', custo : 20},
          {nome : 'Nome', custo : 20},
          {nome : 'Nome', custo : 20},
          {nome : 'Nome', custo : 20}
        ]
      }

      var html = Mustache.render(template, dados);

      $('body').append(html);
  	</script>
  </body>
</html>