<div id="mestre-cuca-ingredientes-container">
  <div id="mestre-cuca-lista-ingredientes" >
  <div class="pure-menu pure-menu-open">
    <a class="pure-menu-heading">Lista de Receitas</a>
    <ul id="lista-ingredientes">
    {{#ingredientes}}
      <li><a>{{nome}}</a></li>
    {{/ingredientes}}
    </ul>
  </div>
  <br>
    <form class="pure-form" onsubmit="return false;">
      <button id="novo-ingrediente" class="pure-button pure-button-primary">Novo</button>
    </form>
  </div>
  <div id="mestre-cuca-conteudo">
    <h1 class="title">Ingredientes</h1>
    <p>blá blá blá blá blá blá blá blá blá blá blá blá 
       blá blá blá blá blá blá blá blá blá blá blá blá
       blá blá blá blá blá blá blá blá blá blá blá blá 
       blá blá blá blá blá blá blá blá blá blá blá blá 
       blá blá blá blá blá blá blá blá blá blá blá blá 
       blá blá blá blá blá blá blá blá blá blá blá blá
       blá blá blá blá blá blá blá blá blá blá blá blá 
       blá blá blá blá blá blá blá blá blá blá blá blá 
       blá blá blá blá blá blá blá blá blá blá blá blá 
       blá blá blá blá blá blá blá blá blá blá blá blá
       blá blá blá blá blá blá blá blá blá blá blá blá 
       blá blá blá blá blá blá blá blá blá blá blá blá 
       blá blá blá blá blá blá blá blá blá blá blá blá 
       blá blá blá blá blá blá blá blá blá blá blá blá
       blá blá blá blá blá blá blá blá blá blá blá blá 
       blá blá blá blá blá blá blá blá blá blá blá blá 
       blá blá blá blá blá blá blá blá blá blá blá blá 
       blá blá blá blá blá blá blá blá blá blá blá blá
       blá blá blá blá blá blá blá blá blá blá blá blá 
       blá blá blá blá blá blá blá blá blá blá blá blá 
       blá blá blá blá blá blá blá blá blá blá blá blá 
       blá blá blá blá blá blá blá blá blá blá blá blá
       blá blá blá blá blá blá blá blá blá blá blá blá 
       blá blá blá blá blá blá blá blá blá blá blá blá 
       blá blá blá blá blá blá blá blá blá blá blá blá 
       blá blá blá blá blá blá blá blá blá blá blá blá
       blá blá blá blá blá blá blá blá blá blá blá blá 
       blá blá blá blá blá blá blá blá blá blá blá blá 
       blá blá blá blá blá blá blá blá blá blá blá blá 
       blá blá blá blá blá blá blá blá blá blá blá blá
    </p>
  </div>
</div>