<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/resources/css/pure-min.css">
<link rel="stylesheet" href="/resources/css/default.css"> 
<script src="/resources/js/jquery-1.11.1.min.js"></script>