<div class="pure-menu pure-menu-open pure-menu-horizontal" id="mestre-cuca-menu">
  <ul>
    <li class="pure-menu-selected"><a href="/home">Home</a></li>
    <li><a href="#">Livros</a></li>
    <li><a href="/receitas">Receitas</a></li>
    <li><a href="/ingredientes">Ingredientes</a></li>
    <li><a href="#">Configurações</a></li>
  </ul>
</div>