body{background-color: #F8F8F9; margin:10px;}
#usuario_corpo{margin-left:25%; margin-top:30px;}
.pure-form input[type="text"]{width:205px;}
#top{margin-bottom:15px;}
#topo{margin-bottom:25px;}
#container{height:100%; width:100%;}
#left-container{height:100%; margin-right:20px; float:left;}
#right-container{height:100%; float:left}
.menu{margin-top:5px;}
.th_data{width:175px;}
.th_local{width:175px;}
.th_situacao{width:175px;}
#codigo{width:513px;}
#codigo_mercadoria{color:grey;}
