<!DOCTYPE html>
<html lang="en">
  {{>/WEB-INF/includes/head.html}}
  <body>
    {{>/WEB-INF/includes/header.html}}
    
    Seja bem vindo.
    <a href="/mercadorias">Ir para mercadorias</a>

    {{>/WEB-INF/includes/footer.html}}
  </body>
</html>