<!DOCTYPE html>
<html lang="en">
  {{>/WEB-INF/includes/head.html}}
  <body>
  	<form action="/autentica" method="post">
  		<label>Usuário</label>
  		<input type="text" name="usuario">

  		<label>Senha</label>
  		<input type="password" name="senha">
  		
  		<button type="submit">Login</button>
      {{mensagem}}
  	</form>

    <div style="background-color: red" id="resultado">
      AEEE

    </div>
  	<form action="/calcular-juros" method="GET">
  <input name="txJuros">
  <button>Enviar</button>
</form>

  	<script>

      function pedacoMercadorias(){

        $.ajax({
          url: '/pedaco-mercadorias',
          type: 'GET',
          success: function(respostaDoServidor){
           $('#resultado').html(respostaDoServidor);
          }
        })
      }
























  		function salvarMercadorias(){
  			var dadosJson = JSON.stringify({ descricao: 'COLCHONETE', peso: 444})
  			$.ajax({
  				url: '/mercadorias/salvar',
  				type: 'POST',
  				headers: { 
  			        'Accept': 'application/json',
  			        'Content-Type': 'application/json' 
  			    },
  				//Estamos passando um JSON pro Controller, logo precisaremos 
  				//anotar o parâmetro a ser convertido com @RequestBody
  				data: dadosJson,
  				success: function(resultado){
  					console.log(resultado);
  				}
  			});
  		}
  	</script>
  </body>
</html>