<!DOCTYPE html>
<html lang="en">
  <body>
    
    {{nome}}
    
    <ul>
    {{#mercadorias}}
      <li>DESCRIÇÃO DA MERCADORIA: <strong>{{descricao}}</strong></li>
    {{/mercadorias}}

    </ul>
  </body>
</html>