* {margin:0px;}
body{
  background-color: #F8F8F9; 
  font-family: Sans-Serif; 
  font-size: 13px;}
#topo {
  background-color: white; 
  position:fixed;
  width:100%; 
  height:40px;
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
  box-shadow: 1px 1px 5px #999;}
#corpo {
  width:100%; 
  padding-top:40px; 
  overflow: hidden;}
#menu { 
  width:15%; 
  float:left; 
  margin: 15px;
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
  box-shadow: 1px 1px 5px #999;}
#menu_corpo {
  background-color:white;
  border: 1px solid #9F9F9F;}
#menu_T {background-color:green;
  color:#FFF;
  text-align:center;
  border: 1px solid #9F9F9F;}
#conteudo {
  background-color:white; 
  width: 60%; 
  float:left; 
  text-align:center;
  margin-top: 15px; 
  padding: 5px; 
  border: 1px solid #9F9F9F;
  -webkit-border-radius: 2px; 
  -moz-border-radius: 2px; 
  border-radius: 2px;
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
  box-shadow: 1px 1px 5px #999;}
#banner {
  width:1354x; 
  float:left; 
  margin: 15px;}
.ban {
  margin: 10px;
  -webkit-border-radius: 2px; 
  -moz-border-radius: 2px; 
  border-radius: 2px;
  border: 1px solid #9F9F9F;
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
  box-shadow: 1px 1px 5px #999;}
#rodape {
  background-color:white; 
  width:100%; 
  height:20px; 
  position:fixed; 
  bottom:0px; 
  text-align:center;
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
  box-shadow: 1px 1px 5px #999;}
#field_to_form #conteudo_label {
  float:left; font-size:15px; 
  font-family: Open Sans; 
  text-align: right;}
#field_to_form label {
  margin: 20px;}
a:link, a:visited a:active {
  text-decoration: none;
  color: black;}
a:hover {
  border: solid 1px #CCC;
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
  box-shadow: 1px 1px 5px #999;}
li {
  list-style-type: none;
  padding-bottom:2px;}
.submit{
  padding: 3px 5px;
  background: green;
  color: #FFF;}