/* default */
span{font-family: monaco,Consolas,"Lucida Console",monospace;}
input{margin-botton:5px;}
.title {
	font-family: 'Lobster', cursive;
	font-size: 52px;
	text-align: center
}

/* top.html */
#mestre-cuca-head {
	margin-left: auto;
    margin-right: auto;
    width: 45%;
   }
#mestre-cuca-logo-img {
	width: 120px;
}
#mestre-cuca-title-span {
	font-family: 'Lobster', cursive;
	font-size: 95px;
	position: relative;
	top: 10px;
}

/* Menu.html */
#mestre-cuca-menu {
	margin-left: auto;
    margin-right: auto;
    width: 45%;
}
    
/* Usuario.html */
#mestre-cuca-usuario-logado {
	position: absolute;
	top: 10px;
	right: 15px;
}