/* login.html */
.float-left-container {
	float:left;
	margin-left: 5px;
}

.float-left-container a {
	font-size: 12px;
	color: grey;
    text-decoration: none;
}

.float-left-container a:hover {
    color: black;
}

#form-login {
	width: 240px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}


.login-error-message {
	color:red;
	font-size: 8px;
}

.login-success-message {
	color:green;
	font-size: 8px;
}

/* cadastro.html */

#form-cadastrar {
	width: 240px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}