#mestre-cuca-lista-receitas{
	margin-left: 1%;
	margin-bottom: 1%;
	width:20%;
	height: 55%;
	float: left;
}

#mestre-cuca-conteudo {
	margin : 0 auto;
	width: 55%;
	float: left;
}

#mestre-cuca-lateral{
	float: left;
}