<HEAD>
<SCRIPT language="JavaScript">
<!--hide
function newtext()
{
  document.myform.mytext.value="Hey! I have changed!";
  setTimeout("moretext()",1000);
 }
function moretext()
{
  document.myform.mytext.value="I just change with the time!";
}

//-->
</SCRIPT>
</HEAD>

<BODY>
<FORM name="myform">
<INPUT type="text" name="mytext" value="Not Much Here." size="30">
&nbsp;&nbsp;
<INPUT TYPE="button" name="but1" value="Click!" onClick="newtext()">
</FORM>