* {margin:0px;}
body{
  background-color: #F8F8F9; 
  font-family: Sans-Serif; 
  font-size: 13px;}
#topo {
  background-color: white; 
  position:fixed; width:100%; 
  height:40px;}
#corpo {
  width:100%; 
  padding-top:40px; 
  overflow: hidden;}
#menu { 
  width:15%; 
  float:left; 
  margin: 15px; }
#menu_corpo {
  background-color:white;
  border: 1px solid #9F9F9F;
  -webkit-border-radius: 6px; 
  -moz-border-radius: 6px; 
  border-radius: 6px;}
#menu_T {background-color:green;
  color:#FFF;
  text-align:center;
  border: 1px solid #9F9F9F;
  -webkit-border-radius: 6px; 
  -moz-border-radius: 6px; 
  border-radius: 6px;}
#conteudo {
  background-color:white; 
  width: 60%; 
  float:left; 
  text-align:center;
  margin-top: 15px; 
  padding: 5px; 
  border: 1px solid #9F9F9F;
  -webkit-border-radius: 2px; 
  -moz-border-radius: 2px; 
  border-radius: 2px;}
#banner {
  width:1354x; 
  float:left; 
  margin: 15px;}
.ban { margin: 10px;
  -webkit-border-radius: 2px; 
  -moz-border-radius: 2px; 
  border-radius: 2px;
  border: 1px solid #9F9F9F;
      }
#rodape {background-color:white; 
width:100%; 
height:20px; 
position:fixed; 
bottom:0px; 
text-align:center;}
#field_to_form {
  background-color: white; 
  -webkit-border-radius: 6px; 
  -moz-border-radius: 6px; 
  border-radius: 6px; 
  text-align:center;}
#field_to_form #conteudo_label {
  float:left; font-size:15px; 
  font-family: Open Sans; 
  text-align: right;}
#field_to_form label {
  margin: 20px;}
input {
  font: 18px georgia, sans-serif;
  -webkit-border-radius: 6px; 
  -moz-border-radius: 6px; 
  border-radius: 6px;}
a:link, a:visited a:active {
	text-decoration: none;
	color: black;}
a:hover {
	text-decoration: underline; 
	background: #FF0;
	color: #f00}
li {list-style-type: none; padding-bottom:2px;}
.submit{padding: 3px 5px; background: green; color: #FFF;}