body {
	margin: 0;
}

.player {
	width: 50%;
	margin: 15% auto;
}

.screen {
	background: black;
	height: 190px;
	opacity: 0.9;
}

.current-progress {
	background: red;
	width: 0%;
}

.progress {
	background-color: gray;
}

.current-progress, .progress {
	height: 18px;
}

.play {
	margin-top: 10px;
	font-size: 20px;
	border-radius: 13px;
	cursor: pointer;
}