<form action="/cadastrar" method="post" class="pure-form" id="form-cadastrar">
  <input type="text" name="nome" placeholder="Nome Completo">
  <br><br>
  <input type="text" name="login" placeholder="Login">
  <br><br>
  <input type="password" name="senha" placeholder="Senha">
  <br><br>
  <input type="submit" value="Cadastrar" class="pure-button pure-button-primary">
  <br><br>
</form>