<form action="/autentica" method="post" class="pure-form" id="form-login">
  <input type="text" name="login" placeholder="Login">
  <br><br>
  <input type="password" name="senha" placeholder="Senha"> 		
  <br><br>
  <div>
    <div class="float-left-container">
      <button type="submit" class="pure-button pure-button-primary">Login</button>
    </div>
    <div class="float-left-container">
      <a href="#">Esqueci minha senha</a>
      <br>
      <a href="/cadastro">Criar conta</a>
    </div>
  </div>
  <br><br><br>
  <span class=".login-error-message">{{mensagem}}</span>
</form>